{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content-header %}
<div class="header header-filter" style="background-image: url('https://images.unsplash.com/photo-1504439468489-c8920d796a29?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450'); height: 40vh;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="title text-center">{{ self.title }}</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
{% block content %}
    <!-- Start of content from quodsite/website/templates/wagtailcore/page.html -->
	<div class="main main-raised">
		<div class="container">
            {% include "includes/breadcrumbs.html" %}

            <article>
                <p>This is a default Wagtail CMS page, and as such, has no content to display. Consider me a placeholder.</p>
            </article>

            <p class="text-muted">{% if self.author|length > 0 %}Last edited by {{ self.author }} on {{ self.date }}.{% endif %} First published on {{ self.first_published_at }}</p>


            {#<pre> {% filter force_escape %} {% debug %} {% endfilter %} </pre>#}
		</div>
	</div>
    <!-- End of content from quodsite/website/templates/wagtailcore/page.html -->
{% endblock %}