{% extends "base.html" %}


{% block content %}
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
		<div class="container">
{#            {% breadcrumbs %}#}
			<!-- here you can add your content -->
            [This is quodsite/website/templates/wagtailcore/page.html]
            {{ self.title }}

            {{ self.slug }}

            {{ self.url_path }}

            {{ self.owner }}

            {{ self.first_published_at }}
		</div>
	</div>
{% endblock %}