{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags i18n %}

{% block title %}Login{% endblock %}

{% block content-header %}
    <div class="header header-filter"
         style="background-image: url('https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450');"
         xmlns="http://www.w3.org/1999/html">
    </div>
{% endblock %}

<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
{% block content %}
    <!-- Start of content from quodsite/website/templates/registration/login.html -->
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card card-signup card-login">
                        <form action="{{ app_path }}" method="post" id="login-form" class="form">
                            {% csrf_token %}
                            <div class="header header-primary text-center">
                                <h4>Login</h4>
                                {#									<div class="social-line">#}
                                {#										<a href="#pablo" class="btn btn-simple btn-just-icon">#}
                                {#											<i class="fa fa-facebook-square"></i>#}
                                {#										</a>#}
                                {#										<a href="#pablo" class="btn btn-simple btn-just-icon">#}
                                {#											<i class="fa fa-twitter"></i>#}
                                {#										</a>#}
                                {#										<a href="#pablo" class="btn btn-simple btn-just-icon">#}
                                {#											<i class="fa fa-google-plus"></i>#}
                                {#										</a>#}
                                {#									</div>#}
                            </div>
                            <p class="text-divider">Please enter your QUOD account details</p>

                            <div class="content">

                                {% with field=form.username %}
                                    <div class="form-group label-floating {% if field.errors|length > 0 %}has-error{% endif %}">
                                        <label for="{{ field.id_for_label }}"
                                               class="control-label">{{ field.label }}</label>
                                        <input type="text" class="form-control" id="{{ field.id_for_label }}"
                                               name="{{ field.html_name }}"
                                               {% if field.value|length > 0 %}value="{{ field.value }}"{% endif %}
                                               maxlength="{{ field.field.max_length }}">
                                        {% if field.help_text|length > 0 %}
                                            <div class="help-block">{{ field.help_text|safe }}</div>{% endif %}
                                        {% if field.errors > 0 %}{% for error in field.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}{% endif %}
                                    </div>
                                {% endwith %}

                                {% with field=form.password %}
                                    <div class="form-group label-floating {% if field.errors|length > 0 %}has-error{% endif %}">
                                        <label for="{{ field.id_for_label }}"
                                               class="control-label">{{ field.label }}</label>
                                        <input type="password" class="form-control" id="{{ field.id_for_label }}"
                                               name="{{ field.html_name }}"
                                               {% if field.value|length > 0 %}value="{{ field.value }}"{% endif %}>
                                        {% if field.help_text|length > 0 %}
                                            <div class="help-block">{{ field.help_text|safe }}</div>{% endif %}
                                        {% if field.errors > 0 %}{% for error in field.errors %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}{% endif %}
                                    </div>
                                {% endwith %}
                            </div>
                            <div class="footer text-center">
                                <input type="submit" class="btn btn-simple btn-primary btn-lg"
                                       value="{% trans 'Log in' %}">
                                {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                        <p class="text-danger">
                                            {{ error }}
                                        </p>
                                    {% endfor %}
                                {% endif %}

                                {% if form.errors and not form.non_field_errors %}
                                    <p class="text-danger">
                                        {% if form.errors.items|length == 1 %}
                                            {% trans "Please correct the error above." %}
                                        {% else %}
                                            {% trans "Please correct the errors above." %}
                                        {% endif %}
                                    </p>
                                {% endif %}


                                {% if user.is_authenticated %}
                                    <p class="text-warning">
                                        {% blocktrans trimmed %}
                                            You are authenticated as {{ username }}, but are not authorized to
                                            access this page. Would you like to login to a different account?
                                        {% endblocktrans %}
                                    </p>
                                {% endif %}

                                <p><i class="material-icons">lock_outline</i> {% trans "Forgot password" %}? <a
                                        href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>!</p>
                                {#                            <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>#}

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of content from quodsite/website/templates/registration/login.html -->
{% endblock %}