<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% for newcategory in category %}
<script>
              $( function() {
                $( "#accordion{{newcategory.id}}" ).accordion();
              } );
</script>

{% endfor %} 
  
</head>

<body>

{% block content %}

{% for newcategory in category %}
<h3>{{newcategory.name}}</h3>
    <div id="accordion{{newcategory.id}}">
	{% for newsection in section %}
		{% if newsection.category_id == newcategory.id %}
            <h3>{{newsection.name}}</h3>
			<div>
            <table>
			<tr>
			<th> ID </th>
			<th> Name </th>
			<th> Description </th>
			</tr>
			{% for newvariable in variable %}
				{% if newvariable.category == newcategory.id and newvariable.section == newsection.level %}
					<tr>
						<td>{{newvariable.id }}</td>
						<td>{{newvariable.name }}</td>
						<td>{{newvariable.description}}</td>
					</tr>
				{% endif %}
			{% endfor %}
			<table>
            </div>
            
		{% endif %}

	{% endfor %}
    </div>
   
{% endfor %}	

{% endblock %}

</body>
</html>