{% load static menu_tags %}
<!-- Start quodsite/templates/includes/navbar.html -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">QUOD</a>
{#            <a href="http://www.creative-tim.com">#}
{#                <div class="logo-container">#}
{#                    <div class="logo">#}
{#                        <img src="{% static "website/img/logo.png" %}" alt="Creative Tim Logo" rel="tooltip"#}
{#                             title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>"#}
{#                             data-placement="bottom" data-html="true">#}
{#                    </div>#}
{#                    <div class="brand">#}
{#                        Creative Tim#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
            {% block menu %}
                {% main_menu %}
            {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<!-- End of quodsite/templates/includes/navbar.html -->
