{% load static wagtailcore_tags quodsite_tags %}
<!-- Start quodsite/website/templates/includes/navbar.html -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">QUOD</a>
{#            <a href="http://www.creative-tim.com">#}
{#                <div class="logo-container">#}
{#                    <div class="logo">#}
{#                        <img src="{% static "website/img/logo.png" %}" alt="Creative Tim Logo" rel="tooltip"#}
{#                             title="<b>Material Kit</b> was Designed & Coded with care by the staff from <b>Creative Tim</b>"#}
{#                             data-placement="bottom" data-html="true">#}
{#                    </div>#}
{#                    <div class="brand">#}
{#                        Creative Tim#}
{#                    </div>#}
{#                </div>#}
{#            </a>#}
        </div>

        <div class="collapse navbar-collapse" id="navigation-index">
            <ul class="nav navbar-nav navbar-right">
            {% block menu %}

                {% for menuitem in menuitems %}
                    <li class="{% if menuitem.show_dropdown %}dropdown{% endif %}{% if menuitem.active %} active{% endif %}">
                        {% if menuitem.show_dropdown %}
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ menuitem.title }} <b class="caret"></b></a>
                            {% top_menu_children parent=menuitem %}
                        {% else %}
                            <a href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}

                {% if request.user.is_staff %}<li><a href="/cms">Quodsite Admin</a></li>{% endif %}
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            {% endblock %}
            </ul>
        </div>
    </div>
</nav>
<!-- End of quodsite/website/templates/includes/navbar.html -->
