{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}

{% block content-header %}
    {% if self.feed_image %}
        <div class="header header-filter"
             style="background-image: url('{{ self.feed_image.file.url }}'); height: 40vh;">
    {% else %}
        <div class="header header-filter"
             style="background-image: url('https://images.unsplash.com/photo-1504439468489-c8920d796a29?crop=entropy&dpr=2&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450'); height: 40vh;">
    {% endif %}
            <div class="container" {% if self.subtitle|length > 0 %}style="padding-top: 11vh;"{% endif %}>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="title text-center">{{ self.title }}</h1>
                        <h4>{{ self.subtitle }}</h4>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block content %}
    <!-- Start of content from quodsite/website/templates/website/multi_page.html -->

    <p class="text-muted"><i>{% if self.author|length > 0 %}Written by {{ self.author }} and first published on {{ self.first_published_at|date }}.{% endif %}
        Last updated {% if self.owner.get_full_name|length > 0 %}by {{ self.owner.get_full_name }}{% endif %} on {{ self.latest_revision_created_at|date }}.</i></p>

    {% if page.related_links.all|length > 0 %}
        <div class="row">
            <div class="col-md-9 col-sm-8">
                <article>
                    {% for block in page.body %}
                        <!-- Blocktype: {{ block.block_type }} -->
                        {% if block.block_type == 'heading' %}
                            <h2>{{ block.value }}</h2>
                        {% else %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}
                </article>
            </div>
            <div class="col-md-3 col-sm-4">
                <div class="card card-sidebar">
                    <div class="header header-info text-center">
                        <h4>Related Links</h4>
                    </div>
                    <div class="content">
                        <ul>
                            {% for link in page.related_links.all %}
                                <li><a href="{{ link.url }}" title="{{ link.name }}">{{ link.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <article>
            {% for block in page.body %}
                <!-- Blocktype: {{ block.block_type }} -->
                {% if block.block_type == 'heading' %}
                    <h2>{{ block.value }}</h2>
                {% else %}
                    {% include_block block %}
                {% endif %}
            {% endfor %}
        </article>
    {% endif %}

    </div>
    <!-- End of content from quodsite/website/templates/website/multi_page.html -->
{% endblock %}