{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}
	<!-- you can use the class main-raised if you want the main area to be as a page with shadows -->
	<div class="main main-raised">
		<div class="container">
{#            {% breadcrumbs %}#}
			<!-- here you can add your content -->
            {{ self.feed_image }}
            {% image self.feed_image max-1000x1000%}

            <hr>

            {{ self.slug }}

            {{ self.url_path }}

            {{ self.owner }}

            {{ self.first_published_at }}

            <p>{{ self.author }} on {{ self.date }}</p>

            {{ self.body }}

		</div>
	</div>
{% endblock %}